.top
  .container 
    .top-wapper
      .top-title
        %h1 FARNECT
      .top-subtitle
        %p 日本の食を未来へ<br>農業と人を繋ぐ

.container 
  .main-title
    .main-sp 
      %h1 WHAT?<br><br><br>
      %p 仕事として農家を始めたいが<br>どう初めていいかわからないという人たちと
      <br>人手が足らず悩んでいる農家をつなげる<br>
      %p1 そんなことができないかと思いこのサイトを制作しました
    .title-image 
      = image_tag 'tane.png'
.image-second

.container 
  .description  
    .title-image2
      = image_tag 'hatuga.png'
 
    .desc-content   
      %h1 WHY?<br><br><br>
      %p 日本では世界に誇れる特産物がたくさんあります。<br>特に農作物においては日本でしか育てることのできないものも中には存在します。
      %p 日本の農業は農薬や生産技術の向上により<br>農作業にかける時間が減り、 
.container
  .form-section 
    .form-section-button
      %a{:href => "#"} 使ってみる！
.footer-image


.footer
         
      
      