.container
  .bbs-title
    %h2 掲示板
.forum-image
.container
  .forum-wrapper
    - @forums.each do |forum|
      .forum
        = link_to forum_path(id: forum.id) do
          .forum-title
            = forum.title
        .forum_content
          = forum.content