
.bbs-title
  %h2 掲示板
.container 
  = link_to '新規投稿', new_forum_path, class: 'btn-border'


.container
  .forum-wrapper
    - @forums.each do |forum|
      .forum
        = link_to forum_path(id: forum.id) do
          .forum-title
            = forum.title
          
        .forum_content
          = forum.content