.back-image-color
  .container 
    .main-title
      .main-content 
        %h1 WHAT?<br><br><br>
        %p 仕事として農家を始めたいが<br>どう初めていいかわからないという人たちと
        <br>人手が足らず悩んでいる農家をつなげる<br>
        %p1 そんなことができないかと思いこのサイトを制作しました
      .title-image 
        = image_tag 'tane.png'
.image-second

.back-image-color
  .container 
    .description  
      .title-image2
        = image_tag 'hatuga.png'
    
      .desc-content   
        %h1 WHY?<br><br>
        %p 日本の農業はIT化が進み農業者の負担は減ってきてはいますが、
        若者の都市部への進出や土地の形状などの理由によりIT技術を導入出来ない農業者もおり、
        まだまだ一部でしか負担を軽減できていないのが現状です。
        　そこでそういった問題を人と人を繋ぐことで解決できないかと思いました。
        少しでも農業者や農業者として働きたいと考えている方の助けになれれば幸いです。
.container
  .form-section 
    .form-section-button
      =link_to '今すぐ始める', new_user_registration_path
.footer-image


.footer