// 新規登録ボタン
.form-section {
    padding-top: 120px;
    
    .form-section-button a {
        background: rgb(236, 247, 248);
        border-radius: 50px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        max-width: 260px;
        padding: 10px 25px;
        color: #313131;
        transition: 0.3s ease-in-out;
        font-weight: 500;
        width: 16em;
        height:5em;
        font-weight: bold;
        align-items: center;
        font-size: 18px;
        border: 2px solid rgb(96, 60, 196)
    }
    .form-section-button a:after {
        position: absolute;
        top: 50%;
        right: 20px;
        border-radius: 1px;
        transition: 0.2s ease-in-out;
        font-weight: 900;
        transform: translateY(-50%);
    }
    .form-section-button a:hover {
        background: #6fc2fa;
        color: #FFF;
    }
}

// headerログインボタン
.header_loginBtn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #34975a;
    background: #ECECEC;
    transition: .4s;
    border: 3px solid;
    border-radius: $base-radius;
    margin-left: 12px;
    transition: 0.8s ease-in-out;
    font-size: 18px;
}  
.header_loginBtn:hover {
    background: #18c451;
    color: rgb(207, 241, 220);
}

// form用ボタン
.btn-primary {
    background-color: rgb(67, 139, 247);
    border: none;
    width: 60%;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto;
    border-radius: $base-radius;
    margin: auto;
    display:block;
    margin-bottom: 12px;
  }

// 新規投稿ボタン　
.btn-border {
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    display:block;
    width: 60%;
    margin:0 auto;
    line-height:60px;
    text-align:center;
    transition:0.5s;
    background:#e03f3d;
    border-radius:$base-radius;
    border:solid 3px #e67b79;
  }
.btn-border:hover{
    opacity:0.8;
}

// コメント追加ボタン
.comment-button {
	display: block;
	position: relative;
	width: 30%;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: rgb(211, 228, 250);
    border-radius: $base-radius;
	border:2px solid #6b6a6a;
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 12px;
    font-weight: bold;
    position:absolute;
    left:20px;
    bottom:20px;
}
.comment-button:hover {
    opacity: 0.8;
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: comment-button 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: comment-button 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: comment-button 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes comment-button {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@-moz-keyframes comment-button {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes comment-button {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
