.profile {
    margin: 24px;

    .profile_img {
        text-align: center;
        margin-bottom: 24px;

    

        img {
            width: 220px;
            height: 220px;
            border-radius: 100%;
            margin-right: 8px;
            margin: auto;
            
        }
    }
    

        .profile-title {
            text-align: center;
            font-weight: bold;
            padding: 12px;
            margin: 24px;
            font-size: 28px;
        }
    

    .profile-wrapper {
        margin: 24px;
        
    
        .profile_name {
            margin: 12px;
            font-size: 18px;
        }
        .profile_desc {
            margin: 12px;
            font-size: 18px;

        }
        .profile-edit {
    

            .edit-img {
                display: flex;
                height: 40px;
                right: 24px;
                top: 24px;
                position: absolute;
               
                font-size: 24px;
                width: 30px;
            }
            .edit-img:hover {
                cursor: pointer;
                filter:saturate(100%);
                opacity: .7;
                border-bottom: solid;
                
        
            }
        }
    }
}
